<div class="frame-content-wrap animated fadeIn">
    <div class="tit-con-wrap">
        <h1>
            <span>寄语</span>
        </h1>
    </div>

    <blockquote class="p-quote-item">
        曾经有一个插件摆在我面前，我没有好好去研究，要用的时候才后悔莫及。<br />
        如果上天能够再给我一次机会，我会对那个插件说：我需要你。<br />
        如果硬要在这份需要加一个附加条件，我希望是一份中文api<br />
        <br />
        //追求完美的处女座前端coder;<br />
        //我的愿望不是世界和平，而是写的代码没有bug;<br />
        #my-code{<br />
        right: 100%;<br />
        }<br />
        <br />
        任何事物都有抛弃你的可能，比如你喜欢的女孩，唯独敲代码只能被你抛弃，没有理由不去珍惜~
    </blockquote>
</div>
