<style>
    .demo-box{
        margin-bottom:50px;
    }
    .demo-box > p{
        font-size:16px;
    }
    .flex-box{
        display:-webkit-flex;
        display:flex;
        background:#e0e0e0;
    }
    .flex-box .item{
        padding:10px;
        text-align:center;
        color:#fff;
        background:#aaa;
    }
    .flex-box.one .item{
        margin:0 10px;
        width:0;
        flex-grow:1;
    }
    .flex-box.one .item:first-child{
        margin-left:0;
    }
    .flex-box.one .item:last-child{
        margin-right:0;
    }
    .flex-box.two {
        justify-content:center;
    }
    .flex-box.three {
        height:180px;
        align-items:center;
    }
    .flex-box.four {
        justify-content:space-between;
    }
    .flex-box.five {
        flex-wrap:wrap;
    }
    .flex-box.five .item{
        flex-basis:25%;
    }
    .flex-box.six{
        height:260px;
        flex-direction:column;
    }
    .flex-box.six .item{
        margin:2px 0;
    }
</style>



<!-- 文章内容 开始 -->
<div class="frame-content-wrap">
    <div class="tit-con-wrap">
        <h1>
            <span>flex速查</span>
        </h1>
    </div>

    <blockquote class="p-quote-item">
        <p>关于flex布局的详细介绍可以参考 <code>阮一峰</code> 前辈写的两篇博文</p>
        <p>
            <a href="http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html?utm_source=tuicool">语法篇</a>
            <a href="http://www.ruanyifeng.com/blog/2015/07/flex-examples.html">实例篇</a>
        </p>
        <p>

        </p>
    </blockquote>

    <div class="demo-box">
        <p>全部等分(width:0;必须写，不然内容不一样多时，元素不等分)</p>
        <div class="flex-box one">
            <div class="item">flex-grow:1;</div>
            <div class="item">flex-grow:1;</div>
            <div class="item">flex-grow:1;</div>
            <div class="item">flex-grow:1;</div>
        </div>
    </div>

    <div class="demo-box">
        <p>1+2+3 = 6，flex-grow:3;表示占据3/6</p>
        <div class="flex-box one">
            <div class="item" style="flex-grow:1;">flex-grow:1;</div>
            <div class="item" style="flex-grow:2;">flex-grow:2;</div>
            <div class="item" style="flex-grow:3;">flex-grow:3;</div>
        </div>
    </div>

    <div class="demo-box">
        <p>某个元素固定宽度，然后剩下的等分,固定宽度的元素，flex-grow属性要为0</p>
        <div class="flex-box one">
            <div class="item" style="width:120px;flex-grow:0;">width:120px;</div>
            <div class="item">flex-grow:1;</div>
            <div class="item">flex-grow:1;</div>
            <div class="item">flex-grow:1;</div>
        </div>
    </div>

    <div class="demo-box">
        <p>水平居中(justify-content:center;)</p>
        <div class="flex-box two">
            <div class="item">水平居中</div>
        </div>
    </div>

    <div class="demo-box">
        <p>垂直居中(align-items:center;)</p>
        <div class="flex-box three">
            <div class="item">垂直居中</div>
        </div>
    </div>

    <div class="demo-box">
        <p>水平垂直居中(justify-content:center;align-items:center;)</p>
        <div class="flex-box two three">
            <div class="item">水平垂直居中</div>
        </div>
    </div>

    <div class="demo-box">
        <p>两端分散对齐（justify-content:space-between;）</p>
        <div class="flex-box four">
            <div class="item">紧贴最左边</div>
            <div class="item">水平居中</div>
            <div class="item">水平居中</div>
            <div class="item">紧贴最右边</div>
        </div>
    </div>

    <div class="demo-box">
        <p>等分列表</p>
        <div class="flex-box five">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
            <div class="item">9</div>
            <div class="item">10</div>
            <div class="item">11</div>
            <div class="item">12</div>
        </div>
    </div>

    <div class="demo-box">
        <p>垂直等分</p>
        <div class="flex-box six">
            <div class="item">按需分配</div>
            <div class="item" style="flex: 1;">占据剩下的全部空间</div>
            <div class="item">按需分配</div>
        </div>
    </div>

    <!-- 常用插件 开始 -->
    <div ng-repeat="(key, value) in attrs" class="p-content-item">
        <div class="tit-wrap">
            <p>
                <i class="ico fa-hand-o-right"></i>
                <span>{{key}}</span>
                <small>{{value.explain}}</small>
            </p>
        </div>
        <div class="con-wrap">
            <lj-table theme=" p-tab-config " headers="value.headers" rows="value.rows"></lj-table>
        </div>
    </div>
    <!-- 常用插件 结束 -->
</div>
<!-- 文章内容 结束 -->
