<div class="frame-content-wrap animated fadeIn">
    <div class="tit-con-wrap">
        <h1>
            <span>移动端重置样式表</span>
        </h1>
    </div>

    <blockquote class="p-quote-item">
        俗话说，<code>工欲善其事必先利其器</code>，
    </blockquote>

    <div class="p-content-item">
        <div class="tit-wrap">
            <p>
                <i class="ico fa-frown-o"></i>
                <span>标题标题标题标题</span>
                <small>提示性文字提示性文字提示性文字</small>
            </p>
        </div>
        <div class="con-wrap">
            <lj-prism language="{{model.code.language}}" source="{{model.code.source}}"></lj-prism>
        </div>
    </div>
</div>


