<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="google" value="notranslate">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>模板标题</title>
        <link href="" rel="stylesheet">
    </head>
    <body>
        <!-- 某某 开始 -->
        <!-- 某某 结束 -->

        <!-- 某某 开始 -->
        <!-- 某某 结束 -->

        <!-- 脚本引入 开始 -->
        <script src=""></script>
        <script>
            $(function(){
                /* 某某 开始 ****************/
                /**************** 某某 结束 */
            });
        </script>
        <!-- 脚本引入 结束 -->
    </body>
</html>
