@charset "utf-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html{
  font:50px/1.5 sans-serif;
}
body{
  padding:0.2rem;
  background:#f3f3f3;
  font-size:0.28rem;
}
.demo-box{
  margin-bottom:35px;
  background:#fff;
}
.grid-box {
  background: pink;
  display: grid;
  grid-template-columns: 90px 50px 120px;

}
.grid-box .item {
  margin: 5px;
  background: red;
}
